/target
/bin
/main
*.o
*.obj
*.vcode
*.jit
/*.asm
/*.S
*.clif
*.s
/dev/main
/dev/main.exe
perf.data*
perf-*.map
*.ast
*.ast.ron
*.pst
*.pst.ron
node_modules
dist
out
.vscode-test
.vscode-test-web
output
